/*--  RAINRUBY Starts:             ---*/

@import url('css_1.css');

body.rainRuby, body.rainRuby textarea {
  font-family: 'Lato', sans-serif;
  font-size: 9.75pt;
  color: #424242;
}


/*--  WHITEROCK Starts:             ---*/

/*@import url('https://fonts.googleapis.com/css?family=Mina:400,700');

body.whiteRock, body.whiteRock textarea {
  font-family: 'Mina', sans-serif;
  font-size: 10.75pt;
  color: #424242;
}*/



/*--  LIMESUN Starts:             ---*/

/*@import url('https://fonts.googleapis.com/css?family=Limelight');

body.limeSun, body.limeSun textarea {
  font-family: 'Limelight', cursive;
  font-size: 10.75pt;
  color: #424242;
}*/


/*Green Theme*/
.green .fullScreen .custColLeft,
.green .fullScreen{
	background-color: #009966;
}
.green .window-minimal .msgBody article .thread {
    background-color: #577382;
}
